@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@400;500;700&display=swap');
@import 'tailwindcss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
